 @charset "UTF-8";

 /* Fonte extena importado site google fontes */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');


 /* Trabalhando com familias de fontes internas, do site e externas */

 @font-face{
     font-family: FonteLogo ;
    src: url("../_fonts/bubblegum-sans-regular.otf");
 }
/* Para garantir que todos os textos não configurados de modo diferente tenha uma fonte não serifada vamos configurar esta característica na área body */
 body {
     font-family: Arial, sans-serif;          
    background-color: #dddddd;
        color: rgba(0, 0, 0,1);
}

/* Formatação da interface (mais responsiva???) */
/* Trabalhar a interface */

/* Tirando o menu todos os outros objetos vão estar dentro deste objeto chamado interface; a div é um container e tudo que estiver no site vai estar dentro desta tag <div id="interface">. */
/*delimitar a largura +/- 800px */
/* centralizar a interface utilizando tag <margin> */
/* criar uma sonbra no objeto box-shadow */

div#interface {
    width: 900px;
    background-color: #ffffff;
    margin: -20px auto 0px auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0,.5);
    padding: 10px 10px 10px 10px;

}


p {
    text-align: justify;
    text-indent: 50px;

}
/* Configurar todos os links da página com cor escura e sem sublinhado (lembrando que 'a' é a ancora dos links) */

a {
    color: #606060;
    text-decoration: none;
}

/* Fazendo com que toda vez que o maouse passe por cima do link este fique sublinhado */

a:hover {
    text-decoration: underline;
}




/* configuração do menu e de cabeçalhos e de interfaces */
/* Reposicionar a imagem do óculos pequeno */

  

header#cabecalho img#icone {
    position: absolute;
    left: 780px;
    top:70px;
}

/* Ajeitar todos os objetos dentro do header  cabecalho */

/* exite uma divisão entre a chamada e as notícias */
/*criar linha de separação*/
header#cabecalho {

    border-bottom: 1px #606060 solid;
    height: 150px;
    background: url("../_imagens/glass-logo-peq.jpg") no-repeat 0px 80px;
}

/* Trabalhando títulos e parágrafos na área de cabeçalho */

header#cabecalho h1{
    font-family: FonteLogo, sans-serif;
    font-size: 30pt;
    color: #606060;
    text-shadow: 1px 1px 1px rgba(0, 0, 0,.6);
    padding: 0px;
    margin-bottom: 0;

}

header#cabecalho h2{
    font-family: 'Titillium Web', sans-serif;
    font-size: 15pt;
    color: #888888;
    padding: 0px;
    margin-top: 0;
    

}


/*Formatação de imagens com legendas */
 
figure.foto-legenda{
    position: relative;
    border: 8px solid white;
    box-shadow: 1px 1px 4px black;

}

figure.foto-legenda img{

    width: 100%;
    height: 100%;

}

figure.foto-legenda figcaption{

    opacity: 0;
    position: absolute;
    top: 0px;
    background-color: rgba(0, 0, 0,.3);
    color: white;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    transition: opacity 1s;
}
 

figure.foto-legenda:hover figcaption{

    opacity: 1;
}
/*  Formatação do menu */
/*   formatação para o nav#menu */

nav#menu ul {    
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: -20px;
    left: 300px;
}

/* Transformar itens do formato vertical para o horizontal */

nav#menu li {

    display: inline-block;
    background-color: #dddddd;
    padding: 10px;
    margin: 2 px;
    transition: background-color 1s;
    
}

/* Fazer o menu flutuar na tela (presta atenção na posição do bloco de texto. */

nav#menu {
    display: block;

}

/* Esconder título principal que não vai ser exibido no navegador por causa do layout, mas tem importância semântica para os mecanismos de buscas*/

nav#menu h1{
    display: none;
}

/* Formatação do botão */
/* Fazer um efeito quando o mouse passa por cima do botão de menu. O botão escurece quando o mouse passa por cima.*/

nav#menu li:hover {

    background-color: #606060;

}

/* Formatação dos links do menu */ 

nav#menu a {
    color: black;
    text-decoration: none;
}

/* fazer o link mudar de cor quando estiver ativo sob o mouse. */
/* mudando a cor do link para branco */
/*sublinhando o link */

nav#menu a:hover {

  color: #ffffff;
  text-decoration: underline;   
}

/* conclusão das configurações do menu */

/* Formatação das principais áreas de texto do site: área principal: <section>; área secundária ou lateral <aside> e área de rodapé <footer> */

section#corpo {

    display: block; /*mostra área como um bloco*/
    width: 500px;
    float: left;
    border-right: 1px solid #606060 ;
    padding-right: 15px;
    
   
}

/* Formatação das configurações da tag <article> dentro da tag <section#corpo> */
/* Formatação de titulos h2  */

article#noticia-principal h2 {
    font-size: 13pt;
    color: #606060;
    background-color: #dddddd;
    padding: 5px 0px 5px 10px;
    margin: 10px 0px 10px 0px;
}

/* Formatando o cabeçalho do artigo noticia-principal dos títulos h1, h2, e h3. */

header#cabecalho-artigo h1 {
    font-family: 'FonteLogo', sans-serif;
    font-size: 20pt;
    color: #606060;
    margin-bottom: 0px;
    margin-top: 0px;

}
header#cabecalho-artigo h2 {
    font-size: 13pt;
    color: #cecece;
    background-color: #ffffff;
    
}
header#cabecalho-artigo h3 {
    font-size: 12pt;
    color: #606060;
}

/* Formatação de uma classe genérica chamada . direita para resolver o conflito de duas formatação para h3 no mesmo artigo. */

 .direita {
    text-align: right;

 }

/* Criamos a aqui a formatação para a tabela */
table#tabelaspec {
    border: 1px solid #606060;
    border-spacing: 0px;
    margin-left: auto;
    margin-right: auto;
}

table#tabelaspec td {
    border: 1px solid #606060;
    padding: 10px;
    text-align: center;
    vertical-align: middle;

}

/* Para modificar o <td> não precisamos modoficar nenhim parâmetro anterior em table#tabelaspec, vamos criar duas classe novas (table#tabelaespec td.ce {}) e (table#tabelaespec td.cd {}) */

table#tabelaspec td.ce {
    color:#ffffff;
    background-color: #606060;
    vertical-align: top;
    font-weight: bold;
}

table#tabelaspec td.cd {
    background-color: #cecece;
    
}
/* Configurar o caption da (table#tabelaspec)*/

table#tabelaspec caption {
    color: #888888;
    font-size: 13pt;
    font-weight: bolder;
}

/* Configuração especifica para as tags <span> que altera parte do caption da tabelaespec. */

table#tabelaspec caption span {
    display: block;
    float: right;
    color: #000000;
    font-size: 8pt;
    margin-top: 10px;

}

/* Configurando a seção lateral aside */
aside#lateral {
    display: block;
    width: 350px;
    float: right;
    background-color: #dddddd;
    padding: 10px;
    margin-top: 10px;
    box-shadow: 2px 2px 2px rgba(0,0,0,.5);
}

/* Configurando os títulos h1, h2 e h3*/

aside#lateral h1 {
    font-family: 'FonteLogo', sans-serif;
    font-size: 20pt;
    color: #606060;
    margin-top: 0px;
}

aside#lateral h2 {
    background-color: #606060;
    font-size: 13pt;
    color: #ffffff;
    padding: 5px;
}

aside#lateral h3 {}



footer#rodape {
    clear: both;
    border-top: 1px solid #606060;
} 

footer#rodape p {
    text-align: center;
}





 


